/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* desde aqui parte el codigo */
body {
  font-family: Arial, sans-serif;
  background: #b3bbba;
}

.App {
  text-align: center;
  margin-top: 40px;
}

.register-form {
  max-width: 430px;
  margin: 40px auto;
  padding: 25px;
  background: #9ee9e9;
  border-radius: 10px;
  box-shadow: 0 2px 8px #0001;
}

.register-form h2 {
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-bottom: 12px;
  text-align: left;
  font-weight: 500;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-bottom: 6px;
  font-size: 1rem;
}

.register-form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 12px;
}

.register-form button[type="submit"]:hover {
  opacity: 0.85;
}

.hint {
  color: #888;
  font-size: 0.89rem;
  margin-left: 4px;
  display: block;
}

.error {
  color: red;
  font-size: 0.92rem;
  display: block;
  margin-top: 2px;
}

.input-error {
  border: 2px solid #f44336 !important;
  background: #fff5f5;
}
