/* Home.css */


body {
  /*background-image: url('./assets/fondodereacgif.gif'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* Contenedor principal centrado con margen superior */
.home-container {
  background-image: url('./assets/fondodereacgif.gif');
  text-align: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(235, 213, 23); /* rojo */
  font-weight: bold;
  font-size: 1.2em;
  /*width: 100%;*/
  height: 100vh;
  background-size: cover;/* Ocupa toda la altura de la ventana */
}

.home-container p {
  
  color: rgb(190, 137, 76);
  font-weight: bold;

}
/* Imagen del logo con margen inferior */
.home-logo {
  margin-bottom: 20px;
  width: 180px; /* Mantener tamaño consistente */
}

/* Botón estilizado */
.home-button {
  padding: 10px 30px;
  width: 190px;
  border-radius: 8px;
  background: #abbde0;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 25px;
  cursor: pointer;
}

.home-button:hover {
  background-color: rgb(47, 73, 84);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-spin {
  animation: spin 2s linear infinite;
}
