/* Manual.css */

/* Contenedor principal del manual con fondo y estilos tipograficos */
.manual-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  
  position: relative;
  box-shadow: 0 0 15px 5px rgba(0, 191, 255, 0.7);
 } /* sombra para efecto luz */

 


/* Contenedor del boton ScrollToBottomButton */
.scroll-button-wrapper {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  max-width: 200px;
  text-align: left;
}


.manual-back-button {
  display: block;
  margin: 30px auto 0 auto; /* espacio arriba y centrado  */
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 30px;
  /*font-weight: bold;*/
  font-size: 0.9em;
  cursor: pointer;
  max-width: 180px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.manual-back-button:hover {
  background-color: #145a9e;
}


.manual-button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}